<link rel="import" href="../../bower_components/shadycss/apply-shim.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="../css/base.html">
<link rel="import" href="search-button.html">

<dom-module id="main-component">
	<template>
		<style include="base">
			h2{
				display: inline;
			}
			h2 ::slotted(span) 
			{
				color: #4a4a4a;
				font-size: 3rem;
				position: relative;
				top:10px;
			}

			div#icon{
				width: 4.5rem;
				display: inline;
			}

			div#icon ::slotted(*){
				color: #4a4a4a;
				width:  3.5rem;
				height: 3.5rem;
			}

			search-button{
				position: absolute;
				right: 1px;
				width: 33%
			}

			.button-add{
			    position: relative;
			    top: 20px;
			    width: 50px;
			    height: 50px;
			    padding: 0;
			    margin: 0;
			}

			.img-button{
				width: 50px;
			    height: 50px;
			    margin: 0;
			    padding: 0;
			}
		</style>
		<div>
			<div>
				<div id="icon"><slot name="header-icon"></slot></div>
				<h2><slot name="header-text"></slot></h2>
				<paper-button raised on-click="_openEdit" class="button-add"><img class="img-button" src="../../images/btnAdd.PNG" alt=""></paper-button>
				<template is="dom-if" if="[[buttonSearch]]">
					<search-button></search-button>
				</template>
			</div>
			<slot name="grid"></slot>
			<slot name="view"></slot>
			<slot name="edit"></slot>
		<div>

	</template>
	<script>		
		(function mainComponentDefinition(mainComponent){
			'use strict'

			class MainComponent extends Polymer.Element{
				static get is(){return 'main-component';}

				static get properties(){
					return{
						buttonSearch:{
							type:Boolean,
							value:false,
							notity:true,
							observer:'_buttonSearchChange'
						}
					}
				}

				_buttonSearchChange(buttonSearch){
					console.log(`_buttonSearchChange ${buttonSearch}`);
				}

				_openEdit(event){
					this.dispatchEvent(new CustomEvent('open-edit', {bubbles:true, composed:true, detail:null}));
				}
			}

			customElements.define(MainComponent.is,MainComponent);

		})(window.mainComponent)
	</script>
</dom-module>